In [1]:
import findspark
findspark.init()

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [3]:
from pyspark.sql.session import SparkSession

spark = (SparkSession.builder
    .appName("Spotify_Twitter")
    .getOrCreate())

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark3/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Importing Spotify Main Artists csv

In [4]:
df = (spark.read
            .option("header","true")
            .option("inferSchema","true")
            .csv("Main_Artist_DF.csv")            
            .distinct())

# Importing Twitter Aggregates jsons

In [5]:
df_one_republic = (spark.read
            .option("header","true")
            .option("inferSchema","true")
            .json("one_republic.json")            
            .distinct())

In [6]:
df_one_republic.show()

+--------------------+--------------------+-----------+
|                 end|               start|tweet_count|
+--------------------+--------------------+-----------+
|2022-09-21T00:00:...|2022-09-20T00:00:...|       1269|
|2022-09-03T00:00:...|2022-09-02T00:00:...|       1790|
|2022-09-14T00:00:...|2022-09-13T00:00:...|        921|
|2022-09-28T00:00:...|2022-09-27T00:00:...|       1311|
|2022-09-09T00:00:...|2022-09-08T00:00:...|        446|
|2022-09-10T00:00:...|2022-09-09T00:00:...|        591|
|2022-09-24T00:00:...|2022-09-23T00:00:...|       2490|
|2022-09-08T00:00:...|2022-09-07T00:00:...|        632|
|2022-09-06T00:00:...|2022-09-05T00:00:...|        751|
|2022-09-27T00:00:...|2022-09-26T00:00:...|       2422|
|2022-09-07T00:00:...|2022-09-06T00:00:...|       1397|
|2022-09-30T00:00:...|2022-09-29T00:00:...|       3289|
|2022-09-13T00:00:...|2022-09-12T00:00:...|       1753|
|2022-09-23T00:00:...|2022-09-22T00:00:...|       3089|
|2022-09-18T00:00:...|2022-09-17T00:00:...|       1678|
|2022-09-16T00:00:...|2022-09-15T00:00:...|       1328|
|2022-09-22T00:00:...|2022-09-21T00:00:...|       3492|
|2022-09-17T00:00:...|2022-09-16T00:00:...|       1462|
|2022-10-01T00:00:...|2022-09-30T00:00:...|       2012|
|2022-09-26T00:00:...|2022-09-25T00:00:...|       1156|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [8]:
df_harry_styles = (spark.read
            .option("header","true")
            .option("inferSchema","true")
            .json("harry_styles.json")            
            .distinct())

In [9]:
df_harry_styles.show()

+--------------------+--------------------+-----------+
|                 end|               start|tweet_count|
+--------------------+--------------------+-----------+
|2022-09-30T00:00:...|2022-09-29T00:00:...|       2740|
|2022-09-03T00:00:...|2022-09-02T00:00:...|       4637|
|2022-09-25T00:00:...|2022-09-24T00:00:...|       3510|
|2022-09-18T00:00:...|2022-09-17T00:00:...|       2324|
|2022-09-11T00:00:...|2022-09-10T00:00:...|       2005|
|2022-09-19T00:00:...|2022-09-18T00:00:...|       2912|
|2022-09-21T00:00:...|2022-09-20T00:00:...|       5782|
|2022-09-12T00:00:...|2022-09-11T00:00:...|       5895|
|2022-09-08T00:00:...|2022-09-07T00:00:...|       8148|
|2022-09-15T00:00:...|2022-09-14T00:00:...|       4777|
|2022-09-13T00:00:...|2022-09-12T00:00:...|       4117|
|2022-09-01T00:00:...|2022-08-31T00:00:...|       2639|
|2022-09-07T00:00:...|2022-09-06T00:00:...|      27558|
|2022-09-16T00:00:...|2022-09-15T00:00:...|       2520|
|2022-09-22T00:00:...|2022-09-21T00:00:...|       3641|
|2022-09-20T00:00:...|2022-09-19T00:00:...|       5694|
|2022-09-10T00:00:...|2022-09-09T00:00:...|       2471|
|2022-09-09T00:00:...|2022-09-08T00:00:...|       4271|
|2022-09-26T00:00:...|2022-09-25T00:00:...|       2562|
|2022-09-06T00:00:...|2022-09-05T00:00:...|      22309|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [10]:
df_john_legend = (spark.read
            .option("header","true")
            .option("inferSchema","true")
            .json("john_legend.json")            
            .distinct())

In [12]:
df_john_legend.show()

+--------------------+--------------------+-----------+
|                 end|               start|tweet_count|
+--------------------+--------------------+-----------+
|2022-09-15T00:00:...|2022-09-14T00:00:...|       1646|
|2022-09-27T00:00:...|2022-09-26T00:00:...|       4219|
|2022-09-04T00:00:...|2022-09-03T00:00:...|      37746|
|2022-09-23T00:00:...|2022-09-22T00:00:...|       1102|
|2022-09-21T00:00:...|2022-09-20T00:00:...|      11536|
|2022-09-13T00:00:...|2022-09-12T00:00:...|        802|
|2022-09-09T00:00:...|2022-09-08T00:00:...|       1345|
|2022-09-06T00:00:...|2022-09-05T00:00:...|       4139|
|2022-09-28T00:00:...|2022-09-27T00:00:...|       3747|
|2022-09-26T00:00:...|2022-09-25T00:00:...|       6536|
|2022-10-01T00:00:...|2022-09-30T00:00:...|       1719|
|2022-09-16T00:00:...|2022-09-15T00:00:...|       1746|
|2022-09-22T00:00:...|2022-09-21T00:00:...|       3503|
|2022-09-25T00:00:...|2022-09-24T00:00:...|       7333|
|2022-09-01T00:00:...|2022-08-31T00:00:...|       2861|
|2022-09-05T00:00:...|2022-09-04T00:00:...|      10358|
|2022-09-08T00:00:...|2022-09-07T00:00:...|       1189|
|2022-09-24T00:00:...|2022-09-23T00:00:...|       1427|
|2022-09-17T00:00:...|2022-09-16T00:00:...|       1090|
|2022-09-14T00:00:...|2022-09-13T00:00:...|       1466|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [14]:
df_bad_bunny = (spark.read
            .option("header","true")
            .option("inferSchema","true")
            .json("bad_bunny.json")            
            .distinct())

In [15]:
df_bad_bunny.show()

+--------------------+--------------------+-----------+
|                 end|               start|tweet_count|
+--------------------+--------------------+-----------+
|2022-09-10T00:00:...|2022-09-09T00:00:...|       1521|
|2022-09-09T00:00:...|2022-09-08T00:00:...|       1468|
|2022-09-02T00:00:...|2022-09-01T00:00:...|       1622|
|2022-09-14T00:00:...|2022-09-13T00:00:...|       1059|
|2022-09-23T00:00:...|2022-09-22T00:00:...|       1325|
|2022-09-27T00:00:...|2022-09-26T00:00:...|       2527|
|2022-09-01T00:00:...|2022-08-31T00:00:...|       2476|
|2022-09-20T00:00:...|2022-09-19T00:00:...|       5405|
|2022-09-24T00:00:...|2022-09-23T00:00:...|       2132|
|2022-09-16T00:00:...|2022-09-15T00:00:...|       1463|
|2022-09-06T00:00:...|2022-09-05T00:00:...|       1624|
|2022-09-25T00:00:...|2022-09-24T00:00:...|       1467|
|2022-09-07T00:00:...|2022-09-06T00:00:...|       2266|
|2022-09-29T00:00:...|2022-09-28T00:00:...|       1715|
|2022-09-30T00:00:...|2022-09-29T00:00:...|       1900|
|2022-09-11T00:00:...|2022-09-10T00:00:...|       1114|
|2022-09-08T00:00:...|2022-09-07T00:00:...|       1942|
|2022-09-22T00:00:...|2022-09-21T00:00:...|       1436|
|2022-09-26T00:00:...|2022-09-25T00:00:...|       1634|
|2022-09-05T00:00:...|2022-09-04T00:00:...|       1350|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [17]:
df_the_weekend = (spark.read
            .option("header","true")
            .option("inferSchema","true")
            .json("the_weekend.json")            
            .distinct())

In [18]:
df_the_weekend.show()

+--------------------+--------------------+-----------+
|                 end|               start|tweet_count|
+--------------------+--------------------+-----------+
|2022-09-18T00:00:...|2022-09-17T00:00:...|        209|
|2022-09-01T00:00:...|2022-08-31T00:00:...|        524|
|2022-09-23T00:00:...|2022-09-22T00:00:...|        558|
|2022-09-28T00:00:...|2022-09-27T00:00:...|        467|
|2022-09-10T00:00:...|2022-09-09T00:00:...|        836|
|2022-09-11T00:00:...|2022-09-10T00:00:...|        333|
|2022-09-05T00:00:...|2022-09-04T00:00:...|       2801|
|2022-09-26T00:00:...|2022-09-25T00:00:...|       1198|
|2022-09-09T00:00:...|2022-09-08T00:00:...|        441|
|2022-09-22T00:00:...|2022-09-21T00:00:...|        387|
|2022-09-21T00:00:...|2022-09-20T00:00:...|        736|
|2022-09-19T00:00:...|2022-09-18T00:00:...|        197|
|2022-09-24T00:00:...|2022-09-23T00:00:...|       1321|
|2022-09-06T00:00:...|2022-09-05T00:00:...|       1237|
|2022-09-14T00:00:...|2022-09-13T00:00:...|        182|
|2022-09-07T00:00:...|2022-09-06T00:00:...|        641|
|2022-09-20T00:00:...|2022-09-19T00:00:...|       2032|
|2022-09-04T00:00:...|2022-09-03T00:00:...|        528|
|2022-09-29T00:00:...|2022-09-28T00:00:...|        432|
|2022-09-13T00:00:...|2022-09-12T00:00:...|        374|
+--------------------+--------------------+-----------+
only showing top 20 rows

# Checking how the spotify df is looking like

In [5]:
df.head()

Row(images='https://i.scdn.co/image/ab6761610000e5eb77bf00f67e21f514dc44c485', followers=14400245, popularity=85, name='OneRepublic', genre='piano rock', artist_id='5Pwc4xIPtQLFEnJriah9YJ')

In [6]:
df.limit(5).toPandas()

,images,followers,popularity,name,genre,artist_id
0,https://i.scdn.co/image/ab6761610000e5eb77bf00f67e21f514dc44c485,14400245,85,OneRepublic,piano rock,5Pwc4xIPtQLFEnJriah9YJ
1,https://i.scdn.co/image/ab6761610000e5ebf7db7c8ede90a019c54590bb,23987672,90,Harry Styles,pop,6KImCVD70vtIoJWnq6nGn3
2,https://i.scdn.co/image/ab6761610000e5ebb5f9e28219c169fd4b9e8379,51405766,94,The Weeknd,canadian contemporary r&b,1Xyo4u8uXC1ZmMpatF05PJ
3,https://i.scdn.co/image/ab6761610000e5ebaed3c717bf1753ab928ea88d,6291069,77,John Legend,neo mellow,5y2Xq6xcjJb2jVM54GHK3t
4,https://i.scdn.co/image/ab6761610000e5eb8ee9a6f54dcbd4bc95126b14,57945768,99,Bad Bunny,reggaeton,4q3ewBCX7sLwd24euuV69X

# Counting all tweets done every day for an artist and storing in a df

In [21]:
from pyspark.sql.functions import *

In [24]:
#Demo for one, the rest done in batch bellow
df_one_republic_summary = df_one_republic.select(sum("tweet_count"))

In [23]:
df_one_republic_summary.show()

+----------------+
|sum(tweet_count)|
+----------------+
|           48225|
+----------------+

In [25]:
df_harry_styles_summary = df_harry_styles.select(sum("tweet_count"))
df_bad_bunny_summary = df_bad_bunny.select(sum("tweet_count"))
df_john_legend_summary = df_john_legend.select(sum("tweet_count"))
df_the_weekend_summary = df_the_weekend.select(sum("tweet_count"))

In [28]:
from pyspark.sql.functions import when, lit

df_joined = df.withColumn("tweets_last_month",
              when((df.name  == "OneRepublic"),lit(df_one_republic_summary)).
              when((df.name  == "Harry Styles"),lit(df_harry_styles_summary)).
              when((df.name  == "John Legend"),lit(df_john_legend_summary)).
              when((df.name  == "Bad Bunny"),lit(df_bad_bunny_summary)).
              when((df.name  == "The Weeknd"),lit(df_the_weekend_summary)))

AttributeError: 'DataFrame' object has no attribute '_get_object_id'

In [65]:
df_joined.limit(5).toPandas()

,images,followers,popularity,name,genre,artist_id,tweets_last_month
0,https://i.scdn.co/image/ab6761610000e5eb77bf00f67e21f514dc44c485,14400245,85,OneRepublic,piano rock,5Pwc4xIPtQLFEnJriah9YJ,693
1,https://i.scdn.co/image/ab6761610000e5ebf7db7c8ede90a019c54590bb,23987672,90,Harry Styles,pop,6KImCVD70vtIoJWnq6nGn3,2520
2,https://i.scdn.co/image/ab6761610000e5ebb5f9e28219c169fd4b9e8379,51405766,94,The Weeknd,canadian contemporary r&b,1Xyo4u8uXC1ZmMpatF05PJ,558
3,https://i.scdn.co/image/ab6761610000e5ebaed3c717bf1753ab928ea88d,6291069,77,John Legend,neo mellow,5y2Xq6xcjJb2jVM54GHK3t,4139
4,https://i.scdn.co/image/ab6761610000e5eb8ee9a6f54dcbd4bc95126b14,57945768,99,Bad Bunny,reggaeton,4q3ewBCX7sLwd24euuV69X,1463

https://www.geeksforgeeks.org/how-to-add-a-new-column-to-a-pyspark-dataframe/